In [1]:
import pandas as pd

In [3]:
vine_df = pd.read_csv("vine_table.csv")

In [4]:
vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,RTIS3L2M1F5SM,5,0,0,N,Y
1,R1ZV7R40OLHKD,5,0,0,N,Y
2,R3BH071QLH8QMC,1,0,1,N,Y
3,R127K9NTSXA2YH,3,0,0,N,Y
4,R32ZWUXDJPW27Q,4,0,0,N,Y

In [5]:
votes_greater_than_20_df = vine_df[(vine_df["total_votes"] > 20)]

In [6]:
votes_greater_than_20_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
55,R4PKAZRQJJX14,1,21,34,N,N
74,R2CI0Y288CC7E2,1,21,35,N,Y
209,R127WEQY2FM1T3,1,147,175,N,Y
289,R3EZ0EPYLDA34S,1,14,31,N,Y
483,R2FJ94555FZH32,2,55,60,N,N

In [13]:
helpful_votes_greater_than_50_df = votes_greater_than_20_df[((votes_greater_than_20_df["helpful_votes"]/votes_greater_than_20_df["total_votes"])>=0.5)]

In [14]:
helpful_votes_greater_than_50_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
55,R4PKAZRQJJX14,1,21,34,N,N
74,R2CI0Y288CC7E2,1,21,35,N,Y
209,R127WEQY2FM1T3,1,147,175,N,Y
483,R2FJ94555FZH32,2,55,60,N,N
537,R1U3AR67RE273L,1,51,65,N,Y

In [15]:
part_of_vine_df = helpful_votes_greater_than_50_df[(helpful_votes_greater_than_50_df["vine"]=="Y")]

In [16]:
part_of_vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
32611,R3KKUSGFZWSUIY,5,56,63,Y,N
33112,R10FO5UKKVZBK2,3,23,23,Y,N
69680,RM4KSGEOR7MU1,5,19,24,Y,N
155361,RG7VRMYLEXD23,4,22,26,Y,N
239327,R11O4YSCPSNL6L,3,20,26,Y,N

In [17]:
not_part_of_vine_df = helpful_votes_greater_than_50_df[(helpful_votes_greater_than_50_df["vine"]=="N")]

In [18]:
not_part_of_vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
55,R4PKAZRQJJX14,1,21,34,N,N
74,R2CI0Y288CC7E2,1,21,35,N,Y
209,R127WEQY2FM1T3,1,147,175,N,Y
483,R2FJ94555FZH32,2,55,60,N,N
537,R1U3AR67RE273L,1,51,65,N,Y

In [19]:
total_vine_reviews = len(part_of_vine_df)

In [20]:
print(total_vine_reviews)

90

In [22]:
total_not_vine_reviews = len(not_part_of_vine_df)

In [23]:
print(total_not_vine_reviews)

37831

In [26]:
vine_reviews_five_star_df = part_of_vine_df[(part_of_vine_df["star_rating"]==5)]

In [27]:
vine_reviews_five_star_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
32611,R3KKUSGFZWSUIY,5,56,63,Y,N
69680,RM4KSGEOR7MU1,5,19,24,Y,N
335897,R286MFBAJ8NPD6,5,46,51,Y,N
364816,R1JRR530H4COA2,5,22,28,Y,N
367440,RQ5WD90PUNBU9,5,21,24,Y,N

In [28]:
not_vine_reviews_five_star_df = not_part_of_vine_df[(not_part_of_vine_df["star_rating"]==5)]

In [29]:
not_vine_reviews_five_star_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
1402,R36O341WWXXKNP,5,28,31,N,N
2507,R29BOS5HMAY1LO,5,88,110,N,N
3932,RDX2ZZ46AM343,5,32,34,N,Y
5278,R2FAARI3JQO9XQ,5,29,30,N,Y
5526,R2WS53BH47WUMT,5,68,84,N,N

In [31]:
total_vine_five_star = len(vine_reviews_five_star_df)

In [32]:
print(total_vine_five_star)

44

In [33]:
total_not_vine_five_star = len(not_vine_reviews_five_star_df)

In [34]:
print(total_not_vine_five_star)

14704

In [44]:
vine_five_star_percent = (total_vine_five_star/total_vine_reviews)*100

In [45]:
print(vine_five_star_percent)

48.888888888888886

In [46]:
not_vine_five_star_percent = (total_not_vine_five_star/total_not_vine_reviews)*100

In [47]:
print(not_vine_five_star_percent)

38.86759535830404